body {
    background: #020c11;
    font-family: Arial, sans-serif;
    color: #00f2ff;
    text-align: center;
}

.title {
    margin-top: 20px;
    font-size: 2rem;
    color: #00eaff;
    text-shadow: 0 0 10px #00eaff;
}

.table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    padding: 15px;
    border: 1px solid #00eaff;
    text-shadow: 0 0 8px #00eaff;
}

.header .cell {
    font-weight: bold;
    background: rgba(0, 255, 255, 0.1);
}

.glow {
    background: rgba(0, 255, 255, 0.2);
    box-shadow: 0 0 15px #00f2ff;
    border-color: #00f2ff;
    font-weight: bold;
}

.qoute {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #00eaff;
    text-shadow: 0 0 8px #00eaff;
}
.qoute span {
    font-weight: bold;
    text-decoration: underline;
    color: green;
}